# ============================================================
# DATA ANALYSIS
# ============================================================

pandas
numpy


# ============================================================
# VISUALIZATION
# ============================================================

matplotlib
seaborn


# ============================================================
# JUPYTER
# ============================================================

jupyter
ipykernel


# ============================================================
# MYSQL
# ============================================================

SQLAlchemy
PyMySQL


# ============================================================
# DATA FILES
# ============================================================

openpyxl


# ============================================================
# TESTING
# ============================================================

pytest